{% extends 'base.html' %}
{% block title %} {{_('Kontakt')}} {% endblock %}
{% block body %}
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Kontaktujte nás</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Mate problém alebo otázku? Prosím neváhajte nás kontaktovať.</p>

    <div class="row">
        <div class="col-md-4 text-center">

        </div>
        <!--Grid column-->
        <div class="col-md-4 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Bojnická 3, 831 04 Bratislava, Slovensko</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 421 903 432 511</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>pavol.vasek@sova.sk</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>

</section>
{% endblock %}