<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index_new_css.css') }}">
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <title>Lokalizovať tag</title>

  <!-- Vrchny JBtron -->
    <div class="jumbotron p-3">

        <div class = "well text-center">
          <h1>Lokalizácia tagu<h1>
	</div>
  	</div>
</head>
<body>
<!--tabulka-->

<div class="container">
   <div style="overflow: auto; margin-top: 50px">
    <table class="table table-striped">
    <thead>
      <tr style="text-align:center">
        <th scope="col">ID tagu</th>
        
	<th scope="col">Čiarový kód</th>       
        <th scope="col">Názov zóny</th>
        <th scope="col">Vstup do zóny</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="rr1" style="text-align:center;vertical-align:middle;">{{mydata[0][0]}}</td>
	<td id="rr5" style="text-align:center;vertical-align:middle;"></td>
        
        <td id="rr3" style="text-align:center;vertical-align:middle;">{{mydata[0][3]}}</td>
        <td id="rr4" style="text-align:center;vertical-align:middle;">{{mydata[0][4]}}</td>
      </tr>
    </tbody>
   </table>
   </div>
</div>
<!--tabulka-->

<div class="container">
<div class="form-group">
<div class="parent" style="position:relative;" >
  <img style = "z-index: -1;" src="{{ url_for('static',filename= 'layout.jpg') }}" class="mx-auto d-block img-thumbnail"  alt="Responsive image" >
  <img id="image_to_move" src="{{ url_for('static',filename= 'dot.png') }}" class="blink_me"   style= "z-index: 3;position: absolute; top:{{mydata[0][7]}}%; left: {{mydata[0][6]}}%;background :rgba(0, 0, 0, 0);height:50px;width:auto">
</div>
</div>
</div>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>

  function get_no() {
      $.getJSON("http://127.0.0.1:5000/get_pos/{{tag_id}}",
              function(data) {
                  document.getElementById("image_to_move").style.top = data.ypos;
                  document.getElementById("image_to_move").style.left = data.xpos;
                  $('#rr1').text(data.tag_id);
                  $('#rr2').text(data.paired);
                  $('#rr3').text(data.zone);
                  $('#rr4').text(data.enter_zone);
		  $('#rr5').text(data.prod_no);
              }
      );
  }
  setInterval('get_no()', 200);
</script>

</body>
